{% extends 'layout.html' %}

{% block content %}

    <p>
        ConnectMe is a platform that allows you to connect with people from various professions. You can register and
        log in to see professionals in your field and network with them.
    </p>
    <p>
        To get started, click on the "Register" or "Login" link in the navigation menu above. After logging in, you
        can explore the "Professions" menu to find people in your profession.
    </p>
</div>
{% endblock %}

