{% extends 'layout.html' %}

{% block content %}
    <h2>Profession: {{ profession }}</h2>
    <ul>
        {% for user in users %}
            <li>
                <a href="{{ url_for('user_profile', user_id=user.id) }}">{{ user.name }}</a> | Contact: {{ user.contact }}
                <form method="POST" action="{{ url_for('delete_profile', user_id=user.id) }}">
                    <button type="submit">Delete Profile</button>
                </form>
            </li>
        {% endfor %}
    </ul>
{% endblock %}

